body {
  text-align: center;
  background-color: #ffe4e6;
}

h1 {
  margin-top: 40px;
}

#list {
  width: 650px;
  margin: 30px auto;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
}

img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

#list span {
  display: block;
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.8;
  text-align: left;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ff8fab;
  color: white;
}