body {
    background-color: #ffe4ec;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.menu {
    text-align: center;
    margin-top: 50px;
}

.menu a {
    color: #444;
    font-size: 30px;
    font-weight: bold;
    margin: 0 20px;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.home {
    text-align: center;
    margin-top: 80px;
}

.home img {
    width: 400px;
    height: 400px;
    border: 8px solid white;
    border-radius: 10%;
}

.home h2 {
    margin-top: 40px;
    font-size: 40px;
    color: #483d29;
}

.home h4 {
    margin-top: 15px;
    font-size: 22px;
    color: #666;
    font-weight: normal;
    font-weight: bold;
}

.box {
    background-color: rgb(249, 231, 251);
    width: 450px;
    margin: 0 auto;
    padding: 60px;
    text-align: left;
    border-radius: 30px;
}

.box img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
}

.box h1 {
    margin-top: 20px;
    font-size: 28px;
    text-align: center;
    color: #483d29;
}

.info {
    margin-top: 15px;
    text-align: left;
}

.info li {
    margin: 8px;
    font-size: 18px;
    font-weight: bold;
}

.playlist {
    text-align: center;
    margin-top: 30px;
}

.playlist-box {
    background-color: rgb(255, 246, 246);
    width: 300px;
    height:420px;
    padding: 30px;
    margin: 20px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    border-radius: 30px;
}

.artist-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid white;
    display: block;
    margin: 20px auto;
}

.title {
    font-size: 28px;
    text-align: center;
    color: #483d29;
    
}

.song-list {
    padding-left: 20px;
}

.song-list li {
    font-size: 20px;
    margin: 6px;
}

.contact {
    text-align: center;
    margin-top: 80px;
}

.contact h1 {
    font-size: 40px;
    color: #302b20;
}

.contact p {
    font-size: 25px;
    margin: 25px;
    color: #444;
}

footer {
    text-align: center;
    margin-top: 80px;
}

footer a {
    color: #444;
    font-size: 18px;
    margin: 0 10px;
}